body{
	margin: 0;
	font-family: 'Staatliches', cursive;
}

header{
	background-color: #E73636;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

header h1{
	color: white;
	font-size: 75px;
}

header img{
	border-radius: 500px;
	border: 10px solid white;
	max-width: 350px;
}

main{
	text-align: center;
	margin: 0 auto;
	max-width: 600px
}

main img{
	max-width: 100%;
}