body{
	margin: 0;
	font-family: 'Staatliches', cursive;
	line-height: 25px;
}

header{
	background-color: #E73636;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

header h1{
	color: black;
	font-size: 75px;
}

header img{
	border-radius: 500px;
	border: 10px solid white;
	max-width: 350px;
}

main{
	margin: 0 auto;
	max-width: 600px
}

main img{
	max-width: 100%;
}

a{
	color: #E73636;
}

a:hover{
	color: #5445E9;
}

footer p{
	margin: 0;
}

footer{
	background-color: #E73636;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
}

p.caption{
	margin-top: 0;
	text-align: left;
	color: #999999
}

